@page {
    size: A4;
    margin: 0;
}

body
{
    width: 210mm;
    height: 297mm;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.header
{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.logo img
{
    width: 100px;
}

.logo-text img
{
    margin-left: 2px;
    margin-top: 12px;
    width: 625px;
}

.description
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -15px;
}

.description p
{
    font-family: "Zier";
    text-align: center;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.description img
{
    width: 10px;
    margin-top: -12px;
}

.hr
{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 36px;
}

.hr img
{
    width: 644px;
    margin-left: 121px;
    margin-top: -25px;
}

.hr p
{
    font-size: 10px;
    font-family: "GotikaBlack";
    transform: rotate(180deg);
    margin-right: -130px;
    margin-left: 0px;
    margin-top: -13px;
    margin-bottom: 12px;
}

.articles
{
    border: 3px solid #000;
    border-radius: 3px;
    margin-left: 35px;
    width: 710px;
    height: 850px;
    padding: 5px;
}

.ads
{
    display: flex;
    margin-left: 35px;
    width: 91%;
    height: 75px;
}

.ads img
{
    margin-top: -10px;
    margin-left: 7px;
}

.ad
{
    display: flex;
    border: 3px solid #000;
    margin-left: 5px;
    height: 60px;
    width: 252px;
}

.ad p
{
    font-style: italic;
    font-family: "Inkulinati";
    line-height: .8;
    font-size: 30px;
    margin-left: 5px;
    margin-top: 3px;
}

.ad p span
{
    margin-top: -100px;
    letter-spacing: 10px;
    font-family: "ChampionGothic";
    text-transform: uppercase;
    font-size: 37px;
}

.ad .description
{
    margin-top: -14px;
    margin-left: 0;
    line-height: 1.1;
    text-align: center;
    font-family: "FirstReign";
    font-size: 25px;
    font-style: normal;
}

.weather
{
    margin-left: 10px;
}

.weather .title
{
    margin-top: -3px;
    font-size: 13px;
    font-family: "Inkulinati";
    font-style: bold;
    text-transform: uppercase;
}

.weather .info
{
    margin-left: 2px;
    margin-top: -13px;
    letter-spacing: 0.3px;
    font-size: 10px;
    font-family: "FirstReign";
}

.weather .info span
{
    font-family: "CloisterBlack";
}

.zodiac
{
    margin-left: 13px;
    margin-top: -20px;
    width: 130px;
}

.zodiac .title
{
    font-family: "GotikaBlack";
}

.zodiac .info
{
    font-family: "CloisterBlack";
    margin-top: -10px;
    line-height: .97;
    font-size: 12px;
}

.zodiac .info span
{
    font-style: bold;
    font-family: "Zodiac";
}

.zodiac img
{
    position: absolute;
    margin-top: -33px;
    margin-left: 55px;
    transform: rotate(30deg);
}

.newspaper-info p
{
    margin-top: -2px;
    margin-left: 70px;
    padding: 0;
    font-family: "GothicMother";
    font-size: 12px;
    width: 93px;
}

.newspaper-info img
{
    position: absolute;
    margin-top: 0;
    margin-left: 6px;
}

.newspaper-info span
{
    color: #FFB12A;
}

.title-and-photo
{
    display: flex;
    width: 100%;
    height: 185px;
    margin: 0;
    margin-left: 12px;
    padding: 0;
}

.title-and-photo .title
{
    font-size: 200px;
    font-family: "ChampionGothic";
    text-transform: uppercase;
    line-height: 0.92;
    margin: 0;
    padding: 0;
}

.title-and-photo div
{
    margin-top: 23px;
    margin-left: 30px;
}

.title-and-photo-description
{
    font-size: 8px;
    font-family: "Zier";
    width: 400px;
    margin-left: 0;
    margin-top: 0;
}

.title-and-articles
{
    display: flex;
    width: 100%;
    height: 370;
    margin: 0;
    margin-left: 12px;
    padding: 0;
}

.title-and-articles p
{
    font-size: 200px;
    font-family: "ChampionGothic";
    text-transform: uppercase;
    line-height: 0.92;
    margin: 0;
    margin-right: 5px;
    padding: 0;
    height: 370px;
}

.first-text
{
    width: 205px;
    height: 375px;
}

.first-text .main-text
{
    height: 45px;
    margin-top: 10px;
    display: flex;
    align-items: top;
    font-size: 10px;
    font-weight: bold;
    font-family: "CloisterBlack";
    text-transform: none;
    width: 100%;
}

.first-text span
{
    font-weight: normal;
    margin-top: -5px;
    font-size: 30px;
}

.first-text .default-text
{
    height: 255px;
    margin-top: 7px;
    font-size: 10px;
    font-family: "CloisterBlack";
    text-transform: none;
    width: 100%;
}

.first-text .turn-over
{
    height: 47px;
    margin-top: 8px;
    font-size: 18px;
    font-family: "ChampionGothic";
    width: 100%;
}

.second-text-spoiler
{
    height: 100%;
    width: 30px;
}

.second-text-spoiler p
{
    font-size: 19.6px;
    position: absolute;
    transform: rotate(-90deg);
    margin-left: -171px;
    margin-top: 180px;
    height: 18px;
    width: 370px;
}

.second-text-main
{
    height: 370px;
}

.second-text-continued
{
    margin-left: -5px;
    position: relative;
    width: 123px;
    height: 90px;
}

.second-text-continued::before
{
    content: '';
    position: absolute;
    border-radius: 1px;
    top: 7px;
    left: 3px;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
}

.second-text-continued p
{
    margin-top: 10px;
    margin-left: 8.5px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    color: #DADADA;
}

.second-text-main .second-text-default
{
    font-family: "CloisterBlack";
    text-transform: none;
    transform: rotate(-90deg);
    display: flex;
    position: absolute;
    font-size: 10px;
    width: 135px;
    height: 20px;
    margin-top: 70px;
    margin-left: -55px;
}

.second-text-default span
{
    font-weight: normal;
    margin-top: -5px;
    font-size: 30px;
}

.second-text-main .second-text-extension
{
    font-family: "CloisterBlack";
    text-transform: none;
    transform: rotate(-90deg);
    position: absolute;
    font-size: 10px;
    width: 135px;
    height: 80px;
    margin-top: 34px;
    margin-left: -7px;
}

.second-text-photo img
{
    position: absolute;
    transform: rotate(-90deg);
    margin-left: -7px;
    margin-top: 157px;
}

.title-end
{
    position: relative;
    width: 94.9%;
    height: 176px;
    margin-left: 12px;
}

.title-end::before
{
    content: '';
    position: absolute;
    border-radius: 3px;
    top: 7px;
    left: 3px;
    width: 100%;
    height: 96%;
    background-color: #000;
    z-index: -1;
}

.title-end p
{
    letter-spacing: 2.1px;
    display: inline-block;
    font-size: 200px;
    font-family: "ChampionGothic";
    color: #DADADA;
    line-height: .8;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.footer p
{
    font-family: "FirstReign";
    text-transform: uppercase;
    line-height: .97;
    font-size: 23px;
    letter-spacing: 4px;
    font-style: light;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
}

.footer img
{
    margin-left: 15px;
    margin-bottom: 0;
}

.spoilers
{
    display: flex;
}

.first-spoiler
{
    display: flex;
    margin-left: 20px;
}

.first-spoiler img
{
    margin-top: 12px;
}

.first-spoiler p
{
    margin-top: -1px;
    margin-left: 5px;
    text-align: left;
    font-size: 20px;
    text-transform: none;
    letter-spacing: normal;
    line-height: 0.8;
    font-family: "ChampionGothic";
}

.first-spoiler p span
{
    margin-left: 5px;
    font-size: 15px;
}

.first-spoiler .digit
{
    font-family: "Inkulinati";
    font-weight: bold;
    margin-top: 2px;
    margin-left: 5px;
    font-size: 50px;
}

.second-spoiler
{
    display: flex;
    margin-left: 40px;
}

.second-spoiler p
{
    font-weight: bold;
    margin-top: 15px;
    margin-left: 10px;
}

.second-spoiler .digit
{
    font-weight: normal;
    margin-top: -15px;
    margin-left: -2px;
    font-size: 70px;
    font-family: "CloisterBlack";
}

.third-spoiler
{
    display: flex;
    margin-left: 40px;
}

.third-spoiler p
{
    text-align: left;
    text-transform: none;
    font-size: 20px;
    line-height: .9;
    font-family: "GothicMother";
    margin-top: 2px;
    margin-left: 10px;
}

.third-spoiler .digit
{
    font-weight: normal;
    margin-top: -3px;
    margin-left: 2px;
    font-size: 55px;
    font-family: "ChampionGothic";
}

.fourth-spoiler
{
    display: flex;
    margin-left: 10px;
}

.fourth-spoiler p
{
    text-align: right;
    line-height: 1.1;
    font-weight: bold;
    font-size: 15px;
    font-family: "Zier";
    margin-top: 7px;
    margin-left: 20px;
}

.fourth-spoiler p span
{
    font-size: 10px;
}

.fourth-spoiler .digit
{
    font-weight: bold;
    margin-top: -20px;
    margin-left: 2px;
    font-size: 70px;
    font-family: "ParselTongue";
}

@font-face
{
    font-family: "ParselTongue";
    src: url("fonts/PARSELTO.TTF") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "GothicMother";
    src: url("fonts/Gothic-Mother.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "Inkulinati";
    src: url("fonts/Inkulinati-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "Zier";
    src: url("fonts/ZierinitialenTwo.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "ChampionGothic";
    src: url("fonts/ChampionGothic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "GotikaBlack";
    src: url("fonts/GotikaBlack.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "CloisterBlack";
    src: url("fonts/CloisterBlackLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "FirstReign";
    src: url("fonts/FirstReign.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "Zodiac";
    src: url("fonts/ZodiacSigns.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
